div.containerProduct {

}

div.productCard {
    padding: 10px;
    text-align: center;
    background: #EEE5E9;
    float: left;
    position: relative;
    width: calc(100% / 4 - 20px);
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

div.productCard img {
    width: 100px;
}