div.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #fefefe;
    display: block;
}

div.container {
    display: flex;
    height: 100%;
}

div.container > div {
    width: calc(100% / 3);
    float: left;
    padding: 25px;
    margin: 10px;
}

div.links {
    text-align: center;
}

div.links a {
    display: block;
    text-decoration: none;
    color: #0f1a20;
}

div.social {
    text-align: center;
}

div.social a {
    padding: 5px;
    font-size: 35px;
    color: #0f1a20;
}

div.social a:hover {
    color: red;
    text-align: center;
}