div.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: #EEE5E9;
    display: block;
    height: auto;
}

div.containerFooter {
    display: flex;
    height: 100%;
}

div.containerFooter > div {
    width: calc(100% / 3);
    float: left;
    padding: 25px;
    margin: 10px;
}

div.links {
    text-align: center;
}

div.links a {
    display: block;
    text-decoration: none;
    color: #0F1A20;
}

div.links a:hover {
    color: #C92403;
    text-align: center;
}

div.social {
    text-align: center;
}

div.social a {
    padding: 5px;
    font-size: 35px;
    color: #0F1A20;
}

div.social a:hover {
    color: #C92403;
    text-align: center;
}

@media screen and (max-width: 660px) {
    div.containerFooter {
        display: block;
    }

    div.info h2 {
        text-align: center;
    }

    div.containerFooter > div {
        display: block;
        float: none;
        width: 100%;
    }
}