@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0F1A20;
}

div.warning {
    text-align: center;
    padding: 20px;
    background-color: #c27000;
    color: #EEE5E9;
}

div.alert {
    text-align: center;
    padding: 20px;
    background-color: #f44336;
    color: #EEE5E9;
}

div.success {
    text-align: center;
    padding: 20px;
    background-color: #2eb885;
    color: #EEE5E9;
}

div.success a, div.warning a, div.alert a {
    text-decoration: none;
}

span.closebtn {
    text-align: center;
    margin-left: 15px;
    color: #EEE5E9;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

span.closebtn:hover {
    color: #0F1A20;
}

a.error, span.error {
    text-decoration: none;
    color: #EEE5E9;
}

div.container-page-chiSiamo{
    margin: 20px;
}

div.doveSiamo{
    margin-bottom: 20px;
    text-align: center;
    color: #EEE5E9;
}

div.students{
    display: flex;
}

div.single-student{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEE5E9;
}

div.container-page-chiSiamo div.single-student img{
    width: 100px;
}

.google-maps {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}
.google-maps > iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60% !important;
    height: 60% !important;
}