div.productCard {
    box-shadow: 2px 2px 1px #c92403;
    padding: 10px;
    text-align: center;
    background: #EEE5E9;
    float: left;
    position: relative;
    width: calc(100% / 3 - 20px);
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

div.image {
    max-width: 100%;
    margin: auto;
}

div.productCard img {
    height: 90px;
}

div.productCard i {
    position: absolute;
    font-size: 28px;
    top: 15px;
    right: 15px;
}

div.productCard i:hover {
    color: #C92403;
    cursor: pointer;
}

div.productCard > div.onSale {
    color: #C92403;
}