div.slideshow-container {
    height: inherit;
    position: relative;
    margin: auto;
    text-align: center;
}

div.slideshow-container img {
    width: 100%;
}

div.product-show {
    position: relative;
    display: block;
    overflow: auto;
    margin: 10px 20px;
}

span.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

a.productCard {
    text-decoration: none;
    color: black;
}

div.productCard {
    box-shadow: 2px 2px 1px #c92403;
    padding: 10px;
    text-align: center;
    background: #EEE5E9;
    float: left;
    position: relative;
    width: calc(100% / 4 - 20px);
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

div.image {
    max-width: 100%;
    margin: auto;
}

div.productCard img {
    height: 90px;
}

div.productCard i {
    position: absolute;
    font-size: 28px;
    top: 15px;
    right: 15px;
}

div.productCard i:hover {
    color: #C92403;
    cursor: pointer;
}

a.shop > i.fa-solid {
    color: #0f1a20;
}

a.shop > i.fa-solid:hover {
    color: #C92403;
    cursor: pointer;
}

div.onSale {
    color: #C92403;
}

@media screen and (max-width: 1160px) {
    div.slideshow-container {
        margin-top: 80px;
    }

    div.productCard {
        width: calc(100% / 3 - 20px);
    }
}

@media screen and (max-width: 860px) {
    div.productCard {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 600px) {
    div.productCard {
        display: block;
        margin: 10px 0;
        width: 100%;
    }
}