div.login-form {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #EEE5E9;
    border-radius: 15px;
    padding: 20px 40px;
    color: #EEE5E9;
}


div.login-form div {
    margin-bottom: 15px;
}

div.login-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

div.login-form input {
    display: block;
    margin: auto;
    background: none;
    color: #EEE5E9;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

div.login-form a {
    color: #C92403;
}

input[type = "submit"]:hover {
    background: #EEE5E9;
    color: #0F1A20;
    cursor: pointer;
}