div.login-form {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid 2px #EEE5E9;
    border-radius: 15px;
    padding: 20px;
    color: #EEE5E9;
    z-index: -1;
    min-width: 340px;
}


div.login-form div {
    margin-bottom: 15px;
}

div.login-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

div.login-form input {
    display: block;
    margin: auto;
    background: none;
    color: #EEE5E9;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: solid 2px #EEE5E9;
}

div.login-form a {
    color: #C92403;
}

input[type = "submit"]:hover, input[type = "button"]:hover {
    background: #EEE5E9;
    color: #0F1A20;
    cursor: pointer;
}

div.register-button {
    text-align: center;
}

@media screen and (max-width: 600px) {
    div.login-form {
        margin-top: 80px;
        width: 60%;
        box-sizing: border-box;
        min-width: auto;
        min-height: auto;
    }
}

@media screen and (max-width: 500px) {
    div.login-form {
        width: 90%;
        box-sizing: border-box;
    }
}