div.item-logo {
    background: none !important;
    padding: 0 !important;
}

img.logo {
    height: 54px;
}

div.navigation-bar {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

div.show-menu {
    display: none;
    cursor: pointer;
}

div.menu {
    visibility: visible;
    display: block;
    width: 100%;
}

div.item-menu {
    border-radius: 15px;
    display: inline-block;
    color: #0f1a20;
    margin: 10px;
    text-align: center;
    padding: 15px;
    background-color: #E5E5E5;
    cursor: pointer;
    box-sizing: border-box;
    width: calc(100% / 7 - 20px);
    float: left;
}

div.show-menu {
    display: none;
    cursor: pointer;
}

div.item-menu:hover {
    background-color: #C92403;
    color: #E5E5E5;
}

i.iconMenu {
    margin-right: 5px;
}

div.sub-menu {
    visibility: hidden;
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

div.item-submenu {
    position: relative;
    margin-top: 5px;
    height: 40px;
    border-radius: 15px;
    background-color: #E5E5E5;
    color: #0f1a20;
    text-align: center;
    line-height: 40px;
}

div.item-submenu:hover {
    background-color: #C92403;
    color: #E5E5E5;
}

@media screen and (max-width: 1160px) {
    div.show-menu {
        display: block;
        width: 100%;
        text-align: center;
        color: #E5E5E5;
        font-size: 20px;
    }

    div.menu {
        display: none;
    }
}

/*
@media screen and (max-width: 1100px) {
    div.navigation-bar {
        display: block;
        position:relative;
        background-color: #0F1A20;
    }

    div.menu {
        position:absolute;
        visibility: hidden;
        display: none;
        background-color: #0F1A20;
        width: 165px;
    }

    div.item-menu {
        display: block;
        margin: 5px 0 5px 0;
        border-radius: 5px;
    }

    div.item-submenu {
        border-radius: 5px;
    }

    div.show-menu {
        border-radius: 10px;
        height: 40px;
        background-color: #E5E5E5;
        color: #0f1a20;
        text-align: left;
        padding: 0 20px 0 20px;
        line-height: 40px;
        display: inline-block;
    }
}*/