div.navigation-bar {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

div.item-logo {
    background: none !important;
    padding: 0 !important;
    height:54px;
    margin-bottom: 10px;
}

img.logo {
    height: 54px;
}

div.show-menu {
    display: none;
    cursor: pointer;
}

div.menu {
    visibility: visible;
    display: block;
    width: 100%;
}

div.item-menu {
    border-radius: 15px;
    display: inline-block;
    color: #0F1A20;
    margin: 10px;
    text-align: center;
    padding: 15px;
    background-color: #EEE5E9;
    cursor: pointer;
    box-sizing: border-box;
    width: calc(100% / 7 - 20px);
    float: left;
}

div.admin-item-menu {
    border-radius: 15px;
    display: inline-block;
    color: #0F1A20;
    margin: 10px;
    text-align: center;
    padding: 15px;
    background-color: #EEE5E9;
    cursor: pointer;
    box-sizing: border-box;
    width: calc(100% / 5 - 20px);
    float: left;
}

div.item-menu:hover, div.admin-item-menu:hover {
    background-color: #C92403;
    color: #EEE5E9;
}

div.show-menu {
    display: none;
    cursor: pointer;
}

div.active {
    background-color: #C92403;
    color: #EEE5E9;
}

i.iconMenu {
    margin-right: 5px;
}

div.sub-menu {
    display: block;
    border-radius: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #0f1a20;
    padding: 0 15px 15px 15px;
}

div.item-submenu {
    position: relative;
    margin-top: 5px;
    height: 40px;
    border-radius: 15px;
    background-color: #EEE5E9;
    color: #0F1A20;
    text-align: center;
    line-height: 40px;
}

div.item-submenu:hover {
    background-color: #C92403;
    color: #EEE5E9;
}

@media screen and (max-width: 1160px) {
    body {
        overflow: auto;
    }

    div.show-menu {
        display: block;
        width: 100%;
        color: #EEE5E9;
        font-size: 20px;
        text-align: right;
    }

    div.navigation-bar {
        display: block;
        background: #0F1A20;
        position: absolute;
        width: 100%;
        top: 0;
        padding: 20px 30px;
    }

    div.menu {
        z-index: 1;
        display: none;
        height: 100vh;
    }

    div.item-menu, div.admin-item-menu {
        float: none !important;
        display: block;
        width: 200px;
        margin: 5px auto auto;
    }

    div.item-logo {
        margin-bottom: 10px;
    }
}

@media screen and (max-height: 800px) and (max-width: 400px) {

    div.item-logo {
        margin-bottom: 10px;
    }

    div.admin-item-menu, div.item-menu {
        padding: 10px;
        font-size: 12px;
        width: 80%;
    }

    div.footer {
        height: 80px;
    }

    div.footer img {
        height: 100%;
    }
}