div.edit-form {
    display: block;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid 2px #EEE5E9;
    border-radius: 15px;
    padding: 20px;
    color: #EEE5E9;
    z-index: -1;
    min-width: 340px;
    min-height: 340px;
}

div.back {
    background: #EEE5E9;
    padding: 8px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

div.back a {
    text-decoration: none;
    color: #0F1A20;
}

div.setAdmin {
    background: #EEE5E9;
    padding: 8px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 20px;
}

div.setAdmin a {
    text-decoration: none;
    color: #0F1A20;
}

label.text-section {
    text-align: center;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    text-decoration: underline;
}

div.edit-form div {
    margin-bottom: 15px;
}

div.edit-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

div.edit-form input {
    display: block;
    margin: auto;
    background: none;
    color: #EEE5E9;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: solid 2px #EEE5E9;
}

input[type = "button"] {
    text-align: center;
    max-width: 300px;
}

input[type = "button"]:hover {
    background: #EEE5E9;
    color: #0F1A20;
    cursor: pointer;
}

@media screen and (max-width: 1160px) {
    div.edit-form {
        display: block;
        margin-top: 100px;
        max-width: 400px;
    }
}

@media screen and (max-width: 600px) {
    div.edit-form {
        width: 60%;
        box-sizing: border-box;
        min-width: auto;
        min-height: auto;
    }

    div.back {
        display: block;
        width: 100%;
        text-align: center;
    }

    div.setAdmin {
        display: block;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    div.edit-form {
        width: 90%;
        box-sizing: border-box;
    }
}