div.headerTable {
    margin-top: 30px;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid;
}

div.single-user {
    margin-top: 30px;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 10px;
}

button.button-show-more {
    transition: 0.5s;
    color: black;
    padding: 5px;
}
button.button-show-more:hover {
    transition: 0.5s;
    background: red;
}

